@charset "UTF-8";

*{
  background-color: #808080;
  font-family:'poppins';
}

.table{
  color: #E8E8E8;
overflow: scroll;
  
}
th, thead{
  position: sticky;
  top: 0;
}
.col-md-6{
  border: solid 4px #E8E8E8;
  border-radius: 25px;
}
.col-md-6 table{
  table-layout:auto;
  width:100%

}

button {
  background-color: #E8E8E8;
  color: #1c1c1c;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid  #1c1c1c;
  box-shadow: 0 0 0 0  #1c1c1c;

}

button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0  #1c1c1c;
}

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  
}

.tables{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  /* flex-direction: column; */
}

.tab{
  border: 4px solid #E8E8E8;
  border-radius: 27px;
  padding: 10px;
  color: #E8E8E8;
  overflow: auto;

  margin: 20px;


}

/* .tab1{
  
  /* height: max-content; 
}

.tab2{
  /* width: max-content; 
} */

.buttons{
  width: 100%;
  margin-top: 20px;
}
ul{
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}