@charset "UTF-8";

.scrolling{
  overflow-y: scroll;

}

.home-page{
  width: 100vw;
  height: 100vh;
}

.content{
  
  margin-bottom: 50px; /* Set bottom margin to equal footer height */

  position: relative;
  height: 100%;
  width: 100%;
  box-sizing:border-box;
  padding-top: 0px;
  margin-right: 0px;
  margin-left: 170px;
  padding-left: 0px;
  margin-top: 130px;
  padding-top: 0px; /* padding-top must be the same as header height */


}



.container{
  width: 100%;
  margin: 0px;
  height: 100%;
  display: flex;

  
}

footer .container{
  width: 100%;
  flex: 1;
  margin: auto;
  display: flex;
}

.logo{
  padding: 15px;
}

.search-bar{
  width: 90%;
  max-width: 600px;
  height: 50 px;
  background: #272727;
  /* rgba(255, 255, 255, 0.2) */
  /* border: 1px black solid; */
  border-radius: 34px;
  padding: 0px 20px;
  display: flex;
  align-items:flex-start;

}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  /* padding: 10px 15px; */
  font-size: 18px;
  color: #cac7ff;

}

::placeholder{
  color: #AFAFAF;
}

.search-bar button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.buttons{
  width: 100%;
  max-width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}


body {
  padding: 10px;
  height: 50px;
  background-color: gray;
}



/*fin navbar*/

/*side bar */

/* .container{
  padding: 100px;
  height: 500vh;
  flex: 1;
  /* border: 1px solid black;
  display: flex;
  justify-content: space-around;
  gap: 100px;
} */

ul{
  margin-top: 150px;
  padding: 20px 0px;
  background-color: #272727;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 350px;
  width: 60px;
  align-items: center;
  border-radius: 38px;
  position:fixed;
  left: 50px;
  box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, 0.073), inset 0px 0px 15px 10px rgba(0, 0, 0, 0.073);
}

img{
  height: 38px;
  width: 43px;
}
a{
  position: relative;
}
.eventsHovered{
  position: absolute;
  top: 0;
  right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.events{
  opacity: 1;
}


svg:hover {
  animation: obnoxious 2000ms infinite linear;
}

path {
  fill: inherit;
}

@keyframes obnoxious {
  0% {
    fill: #FF0000;
  }
  
  15% {
    fill: #FF7F00;
  }
  
  30% {
    fill: #FFFF00;
  }
  
  45% {
    fill: #00FF00;
  }
  
  60% {
    fill: #0000FF;
  }
  
  75% {
    fill: #4B0082;
  }
  100% {
    fill: #8F00FF;
  }
}



